* {
  margin: 0;
  padding: 0;
}

#root {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.App::before {
  content: '';
  background: url('./images/set-weather-doodles-illustration_6997-1863.jpg') no-repeat center
    center/cover;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}

.App {
  width: 500px;
  height: 500px;
  background-color: rgba(208, 201, 169, 0.7);
  border-radius: 40px;
}

.inp-field {
  text-align: center;
  padding: 1rem;
}

.inp-field input {
  padding: 0.7rem 1.5rem;
  font-size: 1.2rem;
  border-radius: 15px;
  border: 1px solid grey;
  background: #f6eee0;
  color: #3b0404;
}

.container {
  margin-top: 5vh;
}

.city p {
  text-align: center;
  font-style: oblique;
  font-size: 3rem;
  color: #3b0404;
}

.temp h1 {
  text-align: center;
  color: #3b0404;
  font-size: 7rem;
}

.desc p {
  color: #3b0404;
  font-size: 2rem;
  text-align: center;
}

.bold {
  font-weight: 700;
}

.footer {
  margin: 5vh auto;
  color: #3b0404;
  /* background: #f6eee0; */
  border-radius: 20px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.feels p,
.humidity p,
.wind p {
  text-align: center;
  font-size: 1.35rem;
}

@media (max-width: 576px) {
  .App {
    width: 300px;
  }
}
